<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <app-border-left></app-border-left>
    </div>
    <div class="col-12 col-md-6">
      <app-border-right></app-border-right>
    </div>
    <div class="col-12 col-md-6">
      <app-border-top></app-border-top>
    </div>
    <div class="col-12 col-md-6">
      <app-border-bottom></app-border-bottom>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-border-primary-state></app-border-primary-state>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-border-warning-state></app-border-warning-state>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-border-secondary-state></app-border-secondary-state>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-absolute-card></app-absolute-card>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-absolute-card2></app-absolute-card2>
    </div>
  </div>
</div>
