<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-basic-button></app-basic-button>
    </div>
    <div class="col-12">
      <app-edges-button-group></app-edges-button-group>
    </div>
    <div class="col-12">
      <app-flat-button-group></app-flat-button-group>
    </div>
    <div class="col-12">
      <app-large-button-group></app-large-button-group>
    </div>
    <div class="col-12">
      <app-large-edges-group></app-large-edges-group>
    </div>
    <div class="col-12">
      <app-outline-custom-button-group></app-outline-custom-button-group>
    </div>
    <div class="col-12">
      <app-outline-custom-button-group2></app-outline-custom-button-group2>
    </div>
    <div class="col-12">
      <app-outline-button-group></app-outline-button-group>
    </div>
    <div class="col-12">
      <app-outline-edge-button></app-outline-edge-button>
    </div>
    <div class="col-12">
      <app-outline-flat-button></app-outline-flat-button>
    </div>
    <div class="col-12">
      <app-radio-button-group></app-radio-button-group>
    </div>
    <div class="col-12">
      <app-check-box-button-group></app-check-box-button-group>
    </div>
    <div class="col-lg-6">
      <app-nesting></app-nesting>
    </div>
    <div class="col-lg-6">
      <app-vertical></app-vertical>
    </div>
  </div>
</div>
