<div class="container-fluid">
  <div class="row">
    <app-basic-progressbar></app-basic-progressbar>
    <app-striped-animated-progress></app-striped-animated-progress>
    <div class="row">
      <div class="col-xl-6">
        <app-multiple-bars></app-multiple-bars>
      </div>
      <div class="col-xl-6">
        <app-numbers-steps-progress></app-numbers-steps-progress>
      </div>
    </div>
    <app-custom-progressbars></app-custom-progressbars>
    <div class="row">
      <div class="col-xl-6">
        <app-small-progressbars></app-small-progressbars>
      </div>
      <div class="col-xl-6">
        <app-large-progressbars></app-large-progressbars>
      </div>
    </div>
    <app-custom-height-progressbars></app-custom-height-progressbars>
  </div>
</div>
