<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header card-no-border pb-0">
          <h3>Post Edit</h3>
        </div>
        <div class="card-body add-post custom-dropzone-project">
          <form class="row needs-validation" novalidate="">
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="f-w-600" for="validationCustom01">Title:</label>
                <input
                  class="form-control"
                  id="validationCustom01"
                  type="text"
                  placeholder="Post Title"
                  required=""
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="mb-3">
                <label class="f-w-600">Type:</label>
                <div class="m-checkbox-inline">
                  <label class="f-w-600" for="edo-ani">
                    <input
                      class="radio_animated"
                      id="edo-ani"
                      type="radio"
                      name="rdo-ani"
                      checked=""
                    />Text
                  </label>
                  <label class="f-w-600" for="edo-ani1">
                    <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani" />Image
                  </label>
                  <label class="f-w-600" for="edo-ani2">
                    <input
                      class="radio_animated"
                      id="edo-ani2"
                      type="radio"
                      name="rdo-ani"
                      checked=""
                    />Audio
                  </label>
                  <label class="f-w-600" for="edo-ani3">
                    <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani" />Video
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <div class="col-form-label f-w-600">
                  <label>Category:</label>
                  <div class="js-example-placeholder-multiple col-sm-12">
                    <ng-select
                      [items]="cities2"
                      bindLabel="name"
                      bindValue="id"
                      [multiple]="true"
                      placeholder="Select cities"
                      [(ngModel)]="selectedCityIds"
                      name="name"
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="email-wrapper">
                <div class="theme-form">
                  <div class="mb-3">
                    <label class="f-w-600">Content:</label>
                    <angular-editor
                      [placeholder]="'Enter text here...'"
                      name="html"
                      [(ngModel)]="htmlContent"
                    ></angular-editor>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form>
            <dropzone
              [config]="config"
              [message]="text"
              [className]="'custom-drop-zone'"
            ></dropzone>
          </form>
          <div class="btn-showcase text-end">
            <button class="btn btn-primary f-w-600" type="submit">Post</button>
            <input class="btn btn-light f-w-600" type="reset" value="Discard" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
