<div class="container-fluid">
  <div class="row">
    <app-widget-chart></app-widget-chart>
    <app-sales-purchase></app-sales-purchase>
    <div class="col-xxl-3 col-xl-4 col-md-6 box-col-6">
      <div class="row">
        <app-courses></app-courses>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-5 col-md-6 box-col-6">
      <div class="row">
        <app-total-user></app-total-user>
      </div>
    </div>
    <div class="col-xxl-5 col-xl-3 col-md-12 box-col-12">
      <app-visitors></app-visitors>
    </div>
    <app-social-media></app-social-media>
    <div class="col-xxl-5 col-xl-8 box-col-12">
      <app-common-data></app-common-data>
    </div>
    <div class="col-xxl-3 col-xl-4 col-sm-6 box-col-6">
      <app-balance-profile></app-balance-profile>
    </div>
    <div class="col-xl-4 d-xxl-block d-xl-none col-sm-6 box-col-6">
      <app-datepicker></app-datepicker>
    </div>
  </div>
</div>
