<div class="container-fluid list-products">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Individual column searching (text inputs)</h3>
          <span
            >The searching functionality provided by DataTables is useful for quickly search through
            the information in the table - however the search is global, and you may wish to present
            controls that search on specific columns.</span
          >
        </div>
        <div class="card-body">
          <div class="table-responsive product-table">
            <div class="d-flex justify-content-between mt-2">
              <select
                class="form-select"
                style="width: auto"
                name="pageSize"
                [(ngModel)]="service.pageSize"
              >
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="10">100</option>
              </select>
              <div class="mb-3 row">
                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
                  >Search:</label
                >
                <div class="col-xs-3 col-sm-auto">
                  <input
                    id="table-complete-search"
                    type="text"
                    class="form-control"
                    name="searchTerm"
                    [(ngModel)]="service.searchTerm"
                  />
                </div>
              </div>
            </div>
            <form>
              <table class="display dataTables_wrapper no-footer table" id="basic-1">
                <thead>
                  <tr>
                    <th scope="col" sortable="product_img" (sort)="onSort($event)">Image</th>
                    <th scope="col" sortable="product_name" (sort)="onSort($event)">Details</th>
                    <th scope="col" sortable="amount" (sort)="onSort($event)">Amount</th>
                    <th scope="col" sortable="stock" (sort)="onSort($event)">Stock</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for(item of (products$ | async) ? (products$ | async) : []; track item){
                  <tr class="odd">
                    <td class="sorting_1">
                      <a [routerLink]="['/ecommerce/product-page']"
                        ><img src="{{item.product_img}}" alt="{{item.product_name}}"
                      /></a>
                    </td>
                    <td class="sorting_1">
                      <a [routerLink]="['/ecommerce/product-page']">
                        <h4>{{item.product_name}}</h4> </a
                      ><span>{{item.productSubName}}</span>
                    </td>
                    <td class="sorting_1">${{item.amount}}</td>
                    <td
                      class="sorting_1"
                      [ngClass]="{'font-success' : item.stock === 'In Stock', 'font-danger' : item.stock === 'out of stock', 'font-primary' : item.stock === 'Low Stock'}"
                    >
                      {{item.stock}}
                    </td>
                    <td class="sorting_1">{{item.startData}}</td>
                    <td class="sorting_1">
                      <button
                        class="btn btn-danger btn-xs"
                        type="button"
                        data-original-title="btn btn-danger btn-xs"
                        title=""
                      >
                        Delete
                      </button>
                      <button
                        class="btn btn-primary btn-xs"
                        type="button"
                        data-original-title="btn btn-danger btn-xs"
                        title=""
                      >
                        Edit
                      </button>
                    </td>
                  </tr>
                  } @empty{
                  <tr class="odd">
                    <td colspan="8" class="dataTables_empty" style="text-align: center">
                      No records found
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
              <ngb-pagination
                class="ms-3"
                [collectionSize]="(total$ | async)!"
                [(page)]="service.page"
                [pageSize]="service.pageSize"
              >
              </ngb-pagination>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
