<div class="container-fluid dashboard_default">
  <div class="row widget-grid">
    <div class="col-xl-4 col-lg-6 col-sm-12 box-col-4">
      <app-earning></app-earning>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12 box-col-4">
      <app-sales></app-sales>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12 box-col-4">
      <app-visitors></app-visitors>
    </div>
    <div class="col-xl-6">
      <app-recent-orders></app-recent-orders>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-6 box-col-3">
      <app-top-seller></app-top-seller>
    </div>
    <div class="col-xl-3 col-md-6 box-col-3">
      <app-new-product></app-new-product>
    </div>
    <div class="col-xxl-3 col-xl-4 col-md-6 box-col-4">
      <app-top-countries></app-top-countries>
    </div>
    <div class="col-xxl-3 col-xl-4 col-md-6 box-col-4 notification">
      <app-activity-timeline></app-activity-timeline>
    </div>
    <div class="col-xxl-6 col-xl-4 col-md-12 box-col-4">
      <app-sales-summary></app-sales-summary>
    </div>
    <app-sale-offer> </app-sale-offer>
    <div class="col-xl-8 col-sm-12 box-col-8e order-xl-1 order-md-2">
      <app-invoice></app-invoice>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12 box-col-4 order-xl-1">
      <app-sale-product></app-sale-product>
    </div>
  </div>
</div>
