<div class="container-fluid crm_dashboard">
  <div class="row widget-grid">
    <div class="col-xl-8">
      <app-update-card></app-update-card>
    </div>
    <div class="col-xl-4 col-lg-6 col-sm-12 box-col-4">
      <app-top-customer></app-top-customer>
    </div>
    <div class="col-xl-5 col-lg-6">
      <app-all-notification></app-all-notification>
    </div>
    <div class="col-xl-7">
      <app-balance-overview></app-balance-overview>
    </div>
    <div class="col-xl-7">
      <app-sales-analyics></app-sales-analyics>
    </div>
    <div class="col-xl-5">
      <app-deal-open></app-deal-open>
    </div>
  </div>
</div>
