<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-4 col-md-4">
      <app-one-to-ten-ratingbar></app-one-to-ten-ratingbar>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-movie-rating-bar></app-movie-rating-bar>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-square-rating-bar></app-square-rating-bar>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-star-rating-bar></app-star-rating-bar>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-horizontal-rating-bar></app-horizontal-rating-bar>
    </div>
    <div class="col-xxl-4 col-md-4">
      <app-current-rating-bar></app-current-rating-bar>
    </div>
  </div>
</div>
